.wrap{
    padding-left: 4%;
    padding-right: 4%;
}
.logo{
    float: left;
}
h1{
    padding-left: 36px;
}
.nav{
    
    float: right;
    padding: 4px;
    margin: 10px;
}
a{
    margin: 4px;
    padding: 6px;
}

.header{
    overflow: hidden;
}
.container1{
    max-width: 20%;
    background-color: rgb(192,192,192);
    padding: 0px;
}
.containerx{
    background-color: rgb(192,192,192);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
h2{
    padding-top: 0;
    margin-top: 0;
}
.button1{
    margin-top: 20px;
    padding: 2px;
}
.containery{
    overflow: hidden;
    width: 100%;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.box1{
    height: 120px;
    background-color: rgb(192,192,192);   
}

.box2{
    height: 120px;
    background-color: rgb(192,192,192);
}
.box3{
    height: 120px;
    background-color: rgb(192,192,192);
}

.b1{
    float: left;
}
.mb1{
    float: left;
    width: 24%;
    overflow: hidden;
    margin-right: 10%;
    margin-left: 4%;
}
.mb2{
    float: left;
    width: 24%;
    overflow: hidden;
    margin-right: 10%;
}
.mb3{
    float: left;
    width: 24%;
    overflow: hidden;
    margin-right: 4%;
}
.b1{
    text-align: justify;
    padding-left: 36px;
    padding-bottom: 28px;
}
.a1{
    text-align: center;
    padding-left: 86px;
    margin-top: 40px;
    color: black;
}
h4{
    text-align: center;
}
h2{
    float: left;
}
.t{
    float: left ;
}
.containerz{
    overflow: hidden;
    background-color: rgb(192,192,192);
    margin: 0;
    padding: 0;
}
.content{
    margin-top: 16px;
    margin-bottom: 16px;
}
.subs{
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: 20%;
    width: 20%;
}
.t{
    margin-left: 16px;
    width: 20%;
    padding: 4px;
    margin-right: 24px;
}
.button2{
    margin-left: 16px;
    width: 16%;
    padding: 4px;
    margin-left: 4px;
    text-align: left;
    color: white;
    background-color: rgb(13, 178, 207);
    display: inline;
}
.sub{
    padding: 0;
    margin: 0;
    /* padding-left: 40px; */
}
.f1{
    float: left;
}
.f2{
    float: right;
}
.bigcontain{
    overflow: hidden;
    margin: auto;
    padding: 0;
}
@media screen and (max-width: 760px) {
    /* For mobile phones: */
    .subs {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 30%;
    }
    .content {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .button2 {
        padding: 4px;
        color: white;
        background-color: rgb(13, 178, 207);
        
    }
    .sub {
        margin: 0px;
    }
    

    .mb1 {
        float: left;
        /* width: 73%; */
        width: auto;
        overflow: hidden;
        margin-left: 4%;
        margin-bottom: 40px;
    }
    .box1 {
        height: 120px;
        background-color: rgb(192,192,192);
    }

    .mb2 {
        float: left;
        /* width: 73%; */
        width: auto;
        overflow: hidden;
        margin-left: 4%;
        margin-bottom: 40px;
    }
    .box2 {
        height: 120px;
        background-color: rgb(192,192,192);
    }
    .mb3 {
        float: left;
        /* width: 73%; */
        width: auto;
        overflow: hidden;
        margin-left: 4%;
        margin-bottom: 40px;
    }
    .box3 {
        height: 120px;
        background-color: rgb(192,192,192);
    }
    .bigcontain{
        overflow: hidden;
        margin: auto;
        padding: 0;
    }

  }
